@model IEnumerable<Web_project.Models.Mission>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table border="1" width="100%">
    <tr>
        <th width="10%">Название</th>
        <th width="10%">Цена</th>
        <th width="10%">Заказчик</th>
        <th width="10%">Местонахождение</th>
        <th width="10%">Название</th>
        <th width="10%">Условие задания</th>
        <th width="10%">Дата подачи</th>
    </tr>
    @foreach (var u in Model)
    {
    <tr>
        <td>@u.Name</td>
        <td>@u.Price</td>
        <td>@u.Customer</td>
        <td>@u.Location</td>
        <td>@u.Condition</td>
        <td>@u.Date</td>
        <th>
            <p><a href="/Task/Edit/@u.Id">edit</a></p>
            <p><a href="/Task/Delete/@u.Id">delete</a></p>
        </th>
    </tr>
    }
</table>

